script(src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js")
script(src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js")

script
    | var firebaseConfig = !{JSON.stringify(firebase_config)};
    | firebase.initializeApp(firebaseConfig);
