extends layout
block content
    div.container

        include _login_form

    script.
        document.querySelector("#login").addEventListener("submit", function (e) {
            e.preventDefault();
            let email = this.querySelector("input[name=email]").value;
            let password = this.querySelector("input[name=password]").value;
            firebase.auth().signInWithEmailAndPassword(email, password)
                .then(function () {
                    info("Login successful.")
                    window.location.replace("/");
                })
                .catch(function (error) {
                    info("Login failed: " + error.message, "danger");
                });
        });

    include _firebase_config


